# csv files
*.csv
#text files
*.txt
# notebooks
*.ipynb
.ipynb_checkpoints
# fit files
*.fits
*.fits.gz
#idea file
.idea
#pycache
__pycache__
#boxes
/box_images
/boxes
*.reg
*.png
#python
*.pyc
#test scripts
test.sh
#pickles
*.sav
*.npy
*.h5
#rvw scripts
lofar_facet_selfcal