# csv files
*.csv
#text files
*.txt
# notebooks
*.ipynb
.ipynb_checkpoints
# fit files
*.fits
*.fits.gz
#idea file
.idea
#pycache
__pycache__
#boxes
/box_images
/boxes
*.reg
*.png
#python
*.pyc
#surveys
database/surveys
#test scripts
test.sh
#deep learning data
/deeplearning/DL_data
#pickles
*.sav
*.npy
*.h5