# csv files
*.csv
#text files
*.txt
# notebooks
*.ipynb
.ipynb_checkpoints
# fit files
*.fits
*.fits.gz
#idea file
.idea
#pycache
__pycache__
#boxes
/box_images
/boxes
*.reg
*.png
#python
*.pyc
#test scripts
test.sh
#pickles
*.sav
*.npy
*.h5
#test
performance_test/testoutput.py
performance_test/*
h5_merger_old.py
#singularities
*.sif
#other
mergemerge.py
*.log
#videos
*.mp4
*.gif
